$background: #1071aa;
$foreground: white;
$font: lighter 24px "Segoe UI", "Open Sans";

html {
    background: $background;
    color: $foreground;
    font: $font;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

body {
    align-self: center;
    padding-bottom: 5rem;
    line-height: 1.5rem;
    width:  50vw;
}

.bsod {
    .emoji {
        font-size: 6rem;
        font-weight: normal;
        line-height: normal;
        margin: 0 0 0.67rem 0;
    }

    .help {
        font-size: 0.9rem;
        display: flex;

        .text {
            margin-left: 0.5rem;
            
            :first-child {
                margin-top: 0;
            }

            :last-child {
                margin-bottom: 0;
            }
        }
    }
}