<header class="bg-primary text-white py-2">
    <div class="container d-flex align-items-end h-100">
        <div class="row align-items-center align-items-md-end">
            <div class="col-3 col-md-2 order-2 order-md-1">
                <img src="me.jpg" alt="Richard Lim" class="img-fluid img-avatar rounded-circle img-thumbnail" />
            </div>
            <div class="col order-1 order-md-2">
                <h1>Hi, I'm Richard 👋🏻</h1>
            </div>
        </div>
    </div>
</header>
<main class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col offset-md-2">
                <p>
                    Welcome to my virtual abode! I'm a software developer based in Mobile, Alabama. I
                    love coding useful apps and dazzling websites using my favorite programming language,
                    C#. ❤ I also know some Python, JavaScript, C++, SQL, PHP, HTML, and CSS on the
                    side, too. 👨🏻‍💻
                </p>
                <p>
                    Whenever I'm not trying to figure out why my code isn't working or working on
                    countless side projects, you'll most likely find me going through my backlog of
                    games on Steam (<span id="recently-played">probably <a href="<%= steam.storeUrl %>"><%= steam.name %></a></span>)
                    or listening to my favorite tunes on Spotify (especially if it is a song by
                    <a href="<%= spotify.url %>"><%= spotify.artist %></a>).
                </p>
                <p>
                    Wanna chat? Hit me up at <tt>hello [at] rclim95.com</tt>! You can also find me
                    here:
                </p>
                <ul class="list-inline">
                    <li class="list-inline-item me-5"><a href="https://www.linkedin.com/in/rclim95"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    <li class="list-inline-item me-5"><a href="https://github.com/rclim95"><i class="fab fa-github"></i> GitHub</a></li>
                    <li class="list-inline-item"><a href="https://steamcommunity.com/id/rclim95/"><i class="fab fa-steam"></i> Steam</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>